<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/tailwindcss.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    <title>Accueil</title>
  </head>
  <body>
    <%- include('./composants/Header') %> 
    
    <p class="text-3xl text-center mt-5">
      Welcame to Development Academy
    </p>
    <div class="flex gap-5 mt-20 ml-20 mr-20 mb-5">
      <div>
      <h1 class="text-6xl">Get so good at web</h1><br>
      <h1 class="text-6xl">development that no </h1><br>
      <h1 class="text-6xl">one ignores you</h1><br>
      <h3 class="ml-20 mt-5">Introduction</h3><br>
      <p class="ml-20 mr-20">Get rid of the routine feel from your learning process and replace lame methods with fun and engaging ones.</p>
    </div>
      <img src="./sortieGDA.jpeg" class="w-[45%]" alt="val">
    </div>

    <%- include('./composants/Footer') %>
  </body>
</html>
