<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/tailwindcss.css" />

    <title>Profil</title>
  </head>
  <body>
    <%- include('./composants/Header') %> 

    <h1>Coding by VALENTIN NVJ NASIBU</h1>
    <img src="./IMG2.jpeg" class="w-[45%]  ml-[25%]" alt="val">
    <%- include('./composants/Footer') %>
  </body>
</html>
